<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>second_footer</p>
    <p class='second-fotter-text'>インスタ</p>
    <p class='second-fotter-text'>ツイッター</p>
    <p class='second-fotter-text'>Facebook</p>
  </div>
  <%# image_tag "furima-logo-color.png", class:"second-fotter-logo"%>
</footer>